/* ==========================================================================

	LAYOUT

========================================================================== */

.lp-wrapper{
	margin: 0 auto;
	max-width: 960px;
	width: 96%;
}

.anchor{
	width: 10px;
	height: 0;
	position: relative;
		top: -157px;
}

.content-article, .terminologie{
	padding: 0 4.6em;

	@media only screen and(max-width: 870px){
		padding: 0 2em;
	}
}

.anchor-nav{
	float: left;
	height: 35px;
	width: 100%;

	ul, li{
		float: left;
	}

	ul{
		width: 100%;
	}

	li{
		list-style-type: none;
		text-align: center;
		width: 50%;
	}
}

.nav-link{
	display: block;
	height: 35px;
	line-height: 35px;
	width: 100%;

	@media only screen and(max-width: 767px){
		height: 70px;
	}
}